{% extends "main/base.html" %}
{% load static %}
{% block title %}
<title>{{ material.name }}</title>
{% endblock title %}

{% block content %}

{% include "main/menu.html" %}

<div class="content right">
    <div class="card">
        <h1 class="content_title">
            {{ material.name }}
        </h1>
        {% for content_block in blocks %}
        {% if content_block.type == "title" %}
        <h2 class="content_subtitle">
            {{ content_block.text }}
        </h2>
        {% elif content_block.type == "text" %}
        <p class="content_text">
            {{ content_block.text }}
        </p>
        {% elif content_block.type == "file" %}
        <div class="attachment_block">
            <div class="attachment_item">
                <a href="{{ content_block.file.url }}" download>
                    <div class="attachment_content">
                        <img src="{% static "icons/attachment.svg" %}">
                        <p>{{ content_block.text }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
        
    <div class="card">
        <h1 class="content_title">
            Решения
        </h1>
        <div class="list">
            {% for solution in solutions %}
            <div class="list_item">
                <a href="{% url "main:solution" solution.material.subject.slug solution.material.slug solution.slug %}">
                    <p class="list_item_text">
                        {{ solution }}
                    </p>
                </a>
            </div>
            {% empty %}
            <p class="content_text">
                Нет решений
            </p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

